* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

// Fonts
// Bolder font face, mainly used for headings.
@font-face {
  font-family: "Lato Regular";
  src: url(/src/assets/fonts/lato/Lato-Regular.ttf);
}

// Lighter font face, mainly used for paragraphs.
@font-face {
  font-family: "Lato Light";
  src: url(/src/assets/fonts/lato/Lato-Light.ttf);
}

// Variables
// Theme colors
$navy-color: #053b50;
$blue-color: #176b87;
$teal-color: #64ccc5;
$white-color: #f7f7f7;

// Other colors
$grey-color: #a9a9a9;
$light-grey-color: #d3d3d3;
$black-color: #303030;

body {
  overflow: hidden;
  background-color: $navy-color;
}

// prettier-ignore
h1, h2, h3, h4, h5, h6, li, a {
    font-family: "Lato Regular";
    color: $white-color;
  }

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

// prettier-ignore
p, button, input, textarea, label {
  font-family: "Lato Light";
  color: $white-color;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: $teal-color;
}

img {
  max-width: 100%;
}

label {
  font-size: 20px;
}

@mixin flexCenter($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

// Styling and functionality for a element's tooltip
@mixin tooltip($topOffset: -60px) {
  .tooltip {
    position: absolute;
    width: 100px;
    height: 50px;
    background-color: $black-color;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    @include flexCenter(row, center, center);
    z-index: 1;

    // Centering the tooltip div above the copy button
    top: $topOffset;
    left: 50%;
    transform: translateX(-50%);

    // transition stuff
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  &:hover {
    .tooltip {
      opacity: 1;
    }
  }
}

// Header

.header {
  width: 100%;
  height: 20vh;
  @include flexCenter(row, center, center);

  .inner-header {
    width: 35%;
    height: 100%;
    @include flexCenter(row, space-between, center);

    h1 {
      color: $white-color;
      font-size: 42px;
    }

    img {
      width: 120px;
    }
  }
}

// Hero

.hero {
  @include flexCenter(column, center, center);
  width: 100%;
  height: 70vh;

  .background-card {
    background-color: $blue-color;
    width: 40%;
    height: 90%;
    border-radius: 50px;
    @include flexCenter(column, center, center);
    filter: drop-shadow(40px 40px 10px rgba(0, 0, 0, 0.25));

    // Switch Container

    .switch-container {
      width: auto;
      height: auto;
      @include flexCenter(row, center, center);
      margin-top: 30px;

      button {
        cursor: pointer;
        width: 100px;
        height: 40px;
        border: none;
        background-color: $teal-color;
        opacity: 0.6;
      }

      .generator-button {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }

      .validator-button {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }

      // applied to the button that is currently selected
      .selected {
        opacity: 1;
        border: 1px solid $teal-color;
      }
    }

    // Feature Container

    .feature-container {
      position: relative;
      width: 90%;
      height: 90%;

      // generator and validator common styles
      .password-generator,
      .password-validator {
        position: absolute;
        width: 100%;
        height: 100%;
        @include flexCenter(column, flex-start, center);
        padding-top: 50px;
      }

      // Password Generator

      .password-generator {
        // Password Display
        .password-display {
          width: 75%;
          height: auto;
          margin-bottom: 60px;
          background-color: $white-color;
          border-radius: 10px;
          @include flexCenter(row, space-between, center);
          padding: 10px 15px;

          .password-display-text {
            font-size: 32px;
            color: $blue-color;
            border: none;
            background-color: transparent;
          }

          .copy-button-container {
            position: relative;

            .copy-button {
              width: 35px;
              height: 35px;
              cursor: pointer;
            }

            @include tooltip();
          }

          .refresh-password-button-container {
            position: relative;

            .refresh-password-button {
              width: 30px;
              height: 30px;
              cursor: pointer;
            }

            @include tooltip(-64px);
          }
        }

        // Generator Form
        .password-generator-form {
          .form-field {
            margin-bottom: 30px;

            label {
              padding-left: 10px;
              span {
                color: $light-grey-color;
              }
            }

            input[type="checkbox"] {
              accent-color: $teal-color;
            }
          }

          .length-field {
            @include flexCenter(column, center, flex-start);

            .top {
              @include flexCenter(row, space-between, center);
              margin-bottom: 10px;
              width: 100%;

              label {
                padding: 0;
              }
            }

            .bottom {
              width: 100%;

              // Styling only works for firefox
              input[type="range"] {
                background: transparent;
                cursor: pointer;
                width: 100%;

                &::-webkit-slider-runnable-track,
                &::-moz-range-track {
                  background-color: $white-color;
                  border-radius: 20px;
                  height: 4px;
                }

                &::-moz-range-progress {
                  background-color: $teal-color;
                  border-radius: 20px;
                  height: 4px;
                }

                &::-webkit-slider-thumb,
                &::-moz-range-thumb {
                  height: 20px;
                  width: 20px;
                  background: $teal-color;
                  border: none;
                  border-radius: 50%;
                }
              }
            }
          }
        }
      }

      .password-validator {
        .password-validator-form {
          width: 70%;
        }
        .password-field {
          input[type="text"] {
            color: $blue-color;
            width: 100%;
            height: auto;
            margin-bottom: 60px;
            background-color: $white-color;
            border-radius: 10px;
            @include flexCenter(row, space-between, center);
            padding: 10px 15px;
          }
        }

        // Strength Reading
        .strength-reading {
          margin-top: 40px;

          // Strength values applied through ts
          // weak
          .strength-value-1 {
            color: rgb(189, 66, 66);
          }

          // moderate
          .strength-value-2 {
            color: rgb(189, 189, 66);
          }

          // strong
          .strength-value-3 {
            color: rgb(66, 189, 66);
          }

          // very strong
          .strength-value-4 {
            color: rgb(5, 117, 33);
          }
        }
      }
    }
  }
}

// Footer

.footer {
  @include flexCenter(row, center, center);
  width: 100%;
  height: 10vh;
}

// applied to an element to hide it.
.hidden {
  display: none !important;
}
