* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Lato Regular";
  src: url(/src/assets/fonts/lato/Lato-Regular.ttf);
}
@font-face {
  font-family: "Lato Light";
  src: url(/src/assets/fonts/lato/Lato-Light.ttf);
}
body {
  overflow: hidden;
  background-color: #053b50;
}

h1, h2, h3, h4, h5, h6, li, a {
  font-family: "Lato Regular";
  color: #f7f7f7;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

p, button, input, textarea, label {
  font-family: "Lato Light";
  color: #f7f7f7;
  font-size: 18px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

label {
  font-size: 20px;
}

.header {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.header .inner-header {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header .inner-header h1 {
  color: #f7f7f7;
  font-size: 42px;
}
.header .inner-header img {
  width: 120px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 70vh;
}
.hero .background-card {
  background-color: #176b87;
  width: 40%;
  height: 80%;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(40px 40px 10px rgba(0, 0, 0, 0.25));
}
.hero .background-card .switch-container {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.hero .background-card .switch-container button {
  cursor: pointer;
  width: 100px;
  height: 40px;
  border: none;
  background-color: #64ccc5;
  opacity: 0.6;
}
.hero .background-card .switch-container .generator-button {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.hero .background-card .switch-container .validator-button {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.hero .background-card .switch-container .selected {
  opacity: 1;
  border: 1px solid #64ccc5;
}
.hero .background-card .feature-container {
  position: relative;
  width: 90%;
  height: 90%;
}
.hero .background-card .feature-container .password-generator,
.hero .background-card .feature-container .password-validator {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 50px;
}
.hero .background-card .feature-container .password-generator .password-display {
  width: 70%;
  height: auto;
  margin-bottom: 60px;
  background-color: #f7f7f7;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}
.hero .background-card .feature-container .password-generator .password-display .password-display-text {
  font-size: 32px;
  color: #176b87;
}
.hero .background-card .feature-container .password-generator .password-display .password-refresh-icon {
  width: 30px;
  height: 30px;
}
.hero .background-card .feature-container .password-generator .form-field {
  margin-bottom: 30px;
}
.hero .background-card .feature-container .password-generator label span {
  color: #d3d3d3;
}
.hero .background-card .feature-container .password-generator .length-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero .background-card .feature-container .password-generator .length-field .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none !important;
}/*# sourceMappingURL=style.css.map */