* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

// Fonts
// Bolder font face, mainly used for headings.
@font-face {
  font-family: "Lato Regular";
  src: url(/src/assets/fonts/lato/Lato-Regular.ttf);
}

// Lighter font face, mainly used for paragraphs.
@font-face {
  font-family: "Lato Light";
  src: url(/src/assets/fonts/lato/Lato-Light.ttf);
}

// Variables
// Theme colors
$navy-color: #053b50;
$blue-color: #176b87;
$teal-color: #64ccc5;
$white-color: #f7f7f7;

// Other colors
$grey-color: #a9a9a9;
$light-grey-color: #d3d3d3;

body {
  overflow: hidden;
  background-color: $navy-color;
}

// prettier-ignore
h1, h2, h3, h4, h5, h6, li, a {
    font-family: "Lato Regular";
    color: $white-color;
  }

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

// prettier-ignore
p, button, input, textarea, label {
  font-family: "Lato Light";
  color: $white-color;
  font-size: 18px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

label {
  font-size: 20px;
}

@mixin flexCenter($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

// Header

.header {
  width: 100%;
  height: 20vh;
  @include flexCenter(row, center, center);
  margin-bottom: 50px;

  .inner-header {
    width: 35%;
    height: 100%;
    @include flexCenter(row, space-between, center);

    h1 {
      color: $white-color;
      font-size: 42px;
    }

    img {
      width: 120px;
    }
  }
}

// Hero

.hero {
  @include flexCenter(column, flex-start);
  width: 100%;
  height: 70vh;
  // border: 1px solid red;

  .background-card {
    background-color: $blue-color;
    width: 40%;
    height: 80%;
    border-radius: 50px;
    @include flexCenter(column, center, center);
    filter: drop-shadow(40px 40px 10px rgba(0, 0, 0, 0.25));

    // Switch Container

    .switch-container {
      width: auto;
      height: auto;
      @include flexCenter(row, center, center);
      margin-top: 30px;

      button {
        cursor: pointer;
        width: 100px;
        height: 40px;
        border: none;
        background-color: $teal-color;
        opacity: 0.6;
      }

      .generator-button {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }

      .validator-button {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }

      // applied to the button that is currently selected
      .selected {
        opacity: 1;
        border: 1px solid $teal-color;
      }
    }

    // Application Placeholder

    .feature-container {
      position: relative;
      width: 90%;
      height: 90%;
      // border: 1px solid white;

      // generator and validator common styles
      .password-generator,
      .password-validator {
        position: absolute;
        width: 100%;
        height: 100%;
        @include flexCenter(column, flex-start, center);
        padding-top: 50px;
      }

      // Password Generator

      .password-generator {
        // Password Display
        .password-display {
          width: 70%;
          height: auto;
          margin-bottom: 60px;
          background-color: $white-color;
          border-radius: 10px;
          @include flexCenter(row, space-between, center);
          padding: 10px 15px;

          .password-display-text {
            font-size: 32px;
            color: $blue-color;
          }

          .password-refresh-icon {
            width: 30px;
            height: 30px;
          }
        }

        .form-field {
          margin-bottom: 30px;
        }

        label span {
          color: $light-grey-color;
        }

        .length-field {
          @include flexCenter(column, center, center);

          .top {
            @include flexCenter(row, space-between, center);
            width: 100%;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

// Footer

.footer {
  @include flexCenter(row, center, center);
}

// applied to an element to hide it.
.hidden {
  display: none !important;
}
